.main-container {
  height: 4rem;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  box-shadow: -30px 30px 100px 30px var(--shadow);
  transition: box-shadow 1s;
  overflow: hidden;
  display: flex;
}

.picture-container {
  aspect-ratio: auto;
  height: inherit;
  width: auto;
  transition: transform 2s;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
}

.natur {
  aspect-ratio: 16/9;
  height: inherit;
  border-radius: 10px;
  transition: width 1s;
  flex-shrink: 0;
}

.star {
  position: static;
  opacity: 0.5;
  filter: grayscale(1);
  transition: opacity 1s, filter 1s, transform 5s;
  flex-shrink: 0;
}

.beschreibung-container {
  display: flex;
  align-items: baseline; /*center*/
  margin: 0;
}

.card-text {
  max-width: 20%;
  margin-left: 0.5rem;
  margin-top: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
