html {
  --widthOfPicture: 350px;
  color: #19196b;
}

body {
  background-color: #f4f4ff;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

h1 {
  border-left: 5px solid #19196b;
  text-align: right;
}

h2 {
  padding: 0.1rem;
}

p {
  margin-right: 10%;
}

.star {
  position: absolute;
  top: 20px;
  right: 20px;
}

.container {
  position: relative;
  width: var(--widthOfPicture);
  height: auto;
  border-radius: 10px 10px 0 0;
  box-shadow: -30px 30px 100px 30px grey;
  margin-top: 40px;
  margin-bottom: 100px;
}

.natur {
  width: var(--widthOfPicture);
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.star:hover {
  transform: rotate(365deg);
  transition-duration: 5s;
}

.unterschrift {
  padding: 0.5rem;
}
